<div id="home" class="d-flex justify-content-center">
  <div class="w-75">
    App is running and working!
    <mat-card class="my-3">
      <mat-card-header>
        <mat-card-title>Top Sales</mat-card-title>
        <mat-card-subtitle>Looking at period June 1 - July 1, 2024</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex flex-row">
          <div class="w-50">
            Metrics 1
          </div>
          <div class="w-50">
            Metrics 2
          </div>
        </div>
        Area Chart goes here
      </mat-card-content>
    </mat-card>
    <mat-card>Bar Chart</mat-card>
    <mat-card>Line Chart</mat-card>
  </div>
</div>
